<div class="wrapper card">

  <!-- Present the following content in a card. -->

  <img src="/img/3.jpeg">

  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Mercury</li>
    <li class="list-group-item">Venus</li>
    <li class="list-group-item">Earth</li>
    <li class="list-group-item">Mars</li>
    <li class="list-group-item">Jupiter</li>
    <li class="list-group-item">Saturn</li>
    <li class="list-group-item">Uranus</li>
    <li class="list-group-item">Neptune</li>
    <li class="list-group-item">Pluto</li>
  </ul>

</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
